img{
    max-width: 100%;
}


/* utilities */
ul{
    list-style-type: none;
}

.flex-col{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

/* Layout */
.ms_container_big{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.ms_container_small{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* colors and debugs*/
.ms_header, .ms_footer{
    background-color: rgba(44, 62, 80, 1);
}

.ms_start, .ms_about{
    background-color: rgba(26, 188, 156, 1);
}

.ms_start img{
    height: 200px;
    width: 150px;
}

.ms_start h5{
    font-size: 1rem;
}

.ms_location{
    background-color: rgba(58, 84, 109, 1);
}

.ms-border{
    border: 1px solid white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
