img{
    max-width: 100%;
}


/* utilities */
ul{
    list-style-type: none;
}

.flex-col{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

/* Layout */
.sm_container_big{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

/* colors and debugs*/
.sm_header{
    background-color: rgba(44, 62, 80, 1);
}

.sm_bg_blue{
    /* debug */
    background-color: blue;
}

.sm_start, .sm_about{
    background-color: rgba(26, 188, 156, 1);
}

.sm_start img{
    height: 250px;
    width: 250px;
}

.sm_start h5{
    font-size: 1rem;
}

.sm_about{
    background-color: rgba(58, 84, 109, 1);
}

.sm_footer{
    background-color: rgba(44, 62, 80, 1);
}
